#btnAdd {
    margin:15px;
}

#table {
    display:inline;
    flex-direction: column;
    align-items: center;
    margin-left: 15px;
}
input {
    padding: 5px;
    border: 2px solid #0d6efd;
    border-radius: 7px;
    margin: 1px;
    font-style: italic;
}
