
#btnAdd {
    margin:15px;
}

form {
    display: block;
    flex-direction: column;
    align-items: center;
    margin-left: 15px;
}
input {
    padding: 5px;
    border: 2px solid #0d6efd;
    border-radius: 7px;
    margin: 1px;
    font-style: italic;
}


.myForm button:hover{
	background: #151c6a;
}
.myForm #imeError,
.myForm #prezimeError,
.myForm #datumError,
.myForm #spolError,
.myForm #jmbgError{
	margin-top: 5px;
	width: 345px;
	font-size: 18px;
	color: #C62828;
	background: rgba(255,0,0,0.1);
	text-align: center;
	padding: 5px 8px;
	border-radius: 3px;
	border: 1px solid #EF9A9A;
	display: none;
}



